<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onmyway.ppe.ppe_onmyway">

    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- allow the connection to internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:label="@string/app_name" -->


        <!--
         The API key for Google Maps-based APIs is defined as a string resource.
         (See the file "res/values/google_maps_api.xml").
         Note that the API key is linked to the encryption key used to sign the APK.
         You need a different API key for each encryption key, including the release key that is used to
         sign the APK for publishing.
         You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".CreationWayActivity"
            android:label="Step 1/3: Tracer le Way"
            android:parentActivityName=".AccueilActivity"/>
        <activity
            android:name=".CreationWayActivityStep2"
            android:label="Step 2/3: Positionner les checkpoints"
            android:parentActivityName=".CreationWayActivity"/>
        <activity android:name=".CreationWayActivityStep3"
            android:parentActivityName=".CreationWayActivityStepName"/>
        <activity android:name=".ListWayActivity"
            android:parentActivityName=".AccueilActivity"/>
        <activity android:name=".WayActivity"
            android:parentActivityName=".ListWayActivity"/>
        <activity android:name=".Checkpoint_Activity"
            android:parentActivityName=".WayActivity"/>
        <activity android:name=".CreationWayActivityCheckpoint"
            android:parentActivityName=".CreationWayActivityStep3"/>
        <activity android:name=".CreationWayActivityStepName"
            android:parentActivityName=".CreationWayActivityStep2"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccueilActivity" />
        <activity android:name=".InscriptionActivity" />
        <activity android:name=".ProfilActivity"
            android:parentActivityName=".AccueilActivity"/>
        <activity android:name=".AllMapActivity"
            android:parentActivityName=".ListWayActivity"/>
        <activity android:name=".ProfilModifWayActivity"
            android:parentActivityName=".AccueilActivity"/>
        <activity android:name=".CheckPointModifActivity"
            android:parentActivityName=".ProfilModifWayActivity"></activity>
    </application>

</manifest>